<section class="page-header section-sm">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="section-title h2 mb-3">
          <span>About</span>
        </h1>
        <ul class="list-inline breadcrumb-menu mb-3">
          <li class="list-inline-item"><a routerLink="/home"><i class="ti ti-home"></i>  <span>Home</span></a></li>
          <li class="list-inline-item">• &nbsp; <a href="about.html"><span>About</span></a></li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10 text-center">
        <h2 class="text-dark mb-0">We are FoodHaven, <br> Where Flavor Finds A Home.</h2>
      </div>
    </div>

    <div class="py-5 my-3">
      <div class="row g-4 justify-content-center text-center">
        <div class="col-lg-6 image-grid-1">
          <img class="w-100 h-auto rounded" src="assets/images/about/about-1.jpg" alt="" width="620" height="346">
        </div>

        <div class="col-lg-3 col-6 image-grid-2">
          <img class="img-fluid rounded" src="assets/images/about/about-2.jpg" alt="" width="460" height="515">
        </div>

        <div class="col-lg-3 col-6 image-grid-3">
          <img class="img-fluid rounded" src="assets/images/about/about-3.jpg" alt="" width="460" height="444">
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-10 text-center">
        <div class="content">
          <p>At FoodHaven, we believe that every recipe has a story to tell. Our platform is a vibrant community of food lovers, home cooks, and culinary enthusiasts from all walks of life, sharing their favorite recipes and kitchen tips.</p>
          <p>Whether you’re looking for time-tested family recipes, exploring new flavors, or sharing your own creations, FoodHaven is your go-to place. Our goal is to inspire, connect, and make cooking a joyful experience for everyone. From simple weeknight dinners to gourmet dishes, we embrace all forms of culinary expression.</p>
          <p>We know that cooking is more than just preparing a meal. It’s about bringing people together, sharing love, and creating memories. FoodHaven is designed to be a welcoming space where you can discover new ideas, learn from others, and showcase your own culinary skills.</p>
          <p>Become a part of our growing community by sharing your own recipes, exploring the diverse flavors others have posted, and connecting with fellow food enthusiasts. Whether you’re a seasoned chef or just starting your cooking journey, FoodHaven is here to make every step delicious.</p>
        </div>
      </div>
    </div>

  </div>
</section>
